node_modules
node_modules_tmp
code-coverage
.nyc
credstash.log
.DS_Store
version.json
.idea
*.iml
*.ipr
local-config
mochawesome-report
newrelic_agent.log
.nyc_output
coverage
mocha.json
public
*.pem
*.crt
*.der
coverity.yaml
srcclr-scan.log
Dockerfile.local
 
# Coverity files
results.json
cov_snapshot_id
build-error-log.txt
analyze-error-log.txt
commit-error-log.txt
idir/
 